{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
